# SwiftFormat configuration (see https://github.com/nicklockwood/SwiftFormat)

# Exclusions are configured in .swiftformatignore

# General
indent = 2
maxwidth = 120
linebreaks = lf

# Wrapping
wraparguments = before-first
wrapcollections = before-first

# Style tweaks
self = remove
stripunusedargs = closure-only
